*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}


html, body
{
    height: 100%;
    display: flex;
    flex-direction: column;

}

a {
    text-decoration: none;
    color: black;
}

header
{
    z-index:9;
}

.logo-b
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo-b img
{
    height: 100%;
    width: 200px;
}

.menu
{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: flex-end;
}

.user-status
{
    float: right;

    width: 100%;

}

.menu button
{
    margin-left: 10px;
    color: white;
    font-weight: bolder;
}

.general
{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.content
{
    width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 1em gray;

}

.content .voltar img
{
    height: 30px;
    width: 40px;
}

.rights
{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 226, 226, 0.897);
    bottom: 0px;
}


